
body {
    --main-color:rgb(72, 87, 97);
    --link-color: rgb(94, 160, 207);
    --link-hover: rgb(171, 204, 228);
    --gray-color:rgb(208, 208, 208);
    padding: 40px 80px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    
}

h1, h2{ /* title */
    color: var(--main-color);
    margin: 10px 0px; 
    font-family: 'Helvetica', monospace;
    font-size: 50px;
}

h2{ /* title publications*/
    font-size: 30px;
    margin: 40px 0px;
}

li {
    /* education */
    list-style: square;
    margin-bottom: 20px; 
}
.container {
    display: flex;
    flex-direction: row;
    align-items: start;

}

.bio { /*bio */
    /* font-style: italic; */
    margin-top: 30px;
}
.custom-link {
    color: var(--link-color);
    font-weight: 500;
}
.custom-link:hover {
    color: var(--link-hover);
}

.contact { /* email */
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}


.profile-img {
    width: 150px;
    border-radius: 5%;
    object-fit: cover;
    margin-right: 40px;
    margin-top: 18px;		
}

.pub {
    padding-left: 0px;
}
.pub-img {
    height: 250px;
    border-radius: 0px;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 0px;
}
.pub-title {
    font-size: 20px;
    font-weight: 500;
    color:var(--link-color);
    text-decoration-line: none;
}
.pub-title:hover {
    color: var(--link-hover);
}
.pub-abstract {
    text-align: justify;
    font-size: 14px;
    margin: 10px 40px 10px 0px;
    /* margin-right: 40px; */
    font-style: italic;
}
.pub-conf {
    text-align: justify;
    /* margin-right: 40px; */
}

.pub-line {
    border-top: 1px;
    color:var(--gray-color);
    border-style:solid;
}
@media only screen and (max-width: 768px) {
    h1, h2{ /* title */
        font-size: 30px;
    }

    .bio { /*bio */
        /* font-style: italic; */
        text-align: justify;
    }
    .container {
        display:block;
        flex-direction: row;
        align-items: start;
    }

    .contact { /* email */
        padding: 0px;
        margin: 0px;
        font-size: 15px;
    }
    .pub-title, .pub-authors {
        font-size: 15px;
    }
   
}
